.tableView {
  border-collapse: collapse;
  margin: auto;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  border-radius: 6px;
}
.tcell {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: middle;
  height: 48px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  background-color: #fff;
  padding: 6px 20px !important;
}
.theaderCellStyle {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  background-color: rgba(241, 241, 245, 0.4) !important;
}

.tableViewContainer {
  margin: 30px 40px auto;
  padding: 30px;
  border-radius: 16px;
  background-color: #fff;
  background: #eaecf04d;
  gap: 24px;

  @media only screen and (min-width: 1200px) {
    margin: 30px 52px auto;
  }
}

.tableViewContainerForPrint {
  padding: 0px;
  margin: 30px auto auto auto;
  border-radius: 0px;
  border: 2px solid #eaecf0;
}

.custom-icon {
  color: #4b4ad5 !important;
  font-size: 16px;
}
