// .jodit Editor
body {
    .jodit-container:not(.health-checkup-editor__document-body) {  
        border-radius: 10px !important;
        .jodit-toolbar__box {
            border-radius: 10px 10px 0 0;
            .jodit-toolbar-button {
                &:nth-child(2){
                    margin-right: 15px;
                }
                &:nth-child(3){
                    margin-right: 15px;
                    .jodit-icon {
                        width: 22px;
                        height: 22px;
                    }
                }
                &:nth-child(4){
                    margin-right: 15px;
                }
                &:nth-child(7){
                    margin-right: 15px;
                }
                &:nth-child(8){
                    .jodit-toolbar-button__trigger {
                        display: none;
                    }
                }
                &:nth-child(9){
                    margin-right: 15px;
                    .jodit-toolbar-button__trigger {
                        display: none;
                    }
                }
            }
        }
        .jodit-workplace {
            border-radius: 0 0 10px 10px;
            font-size: 14px !important;
            .jodit-placeholder {
                color: $grayColor !important;
            }
            p, ul, ol, div {
                font-family: 'roboto' !important;
                font-size: 14px !important;
                line-height: 2.1;
                strong label {
                    font-weight: 700 !important;
                }
                label, input {
                    background-color: $bgbody;
                    color: $welcomecolor !important;
                    border: 1px solid $bordercolor;
                    padding: 0 8px;
                    border-radius: 6px;
                    font-family: 'roboto' !important;
                    font-weight: 500 !important;
                    min-height: 26px;
                    line-height: 1.7;
                }
                span {
                    font-family: 'roboto' !important;
                }
                input {
                    &:focus-visible {
                        border-color: $theme;
                        outline: none;
                    }
                    &::placeholder {
                        font-weight: 400 !important;
                    }
                }
            }
        }
        .jodit-wysiwyg {
            max-height: calc(100vh - 188px);
        }
        .jodit_hidden {
            border: none !important;
        }
        // .jodit-add-new-line{
        //     &:after, span {
        //         display: none;
        //     }
        // } 
    }
    .jodit {
        .jodit-ui-tooltip__content {
            color: $white !important;
        }
    }
}