.manage-3c-bills-wrapper {
    .btn-manage-bill {
        cursor: pointer;
        display: flex;
        height: 41px;
        padding: 10px 24px;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid var(--P-CTA-100, #4B4AD5);
        background: var(--S-BG-50, #FFF);

        &:hover,
        &:focus {
            background-color: var(--S-BG-50, #FFF) !important;
            border: 1px solid var(--P-CTA-100, #4B4AD5);
        }

        span {
            color: #4B4AD5 !important;
        }
    }

    .theme-color {
        color: #4B4AD5;
    }

    .btn-create-bill {
        cursor: pointer;
        display: flex;
        height: 41px;
        padding: 10px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: var(--P-CTA-100, #4B4AD5);

        &:hover,
        &:focus {
            background: var(--P-CTA-100, #4B4AD5) !important;
        }

        span {
            color: white !important;
        }

        &:disabled {
            background: var(--P-CTA-100, #7877e5) !important;
            border-color: #7877e5 !important;
            box-shadow: none;

            &:hover,
            &:focus {
                background: var(--P-CTA-100, #7877e5) !important;
            }

        }
    }

    .search-bar {
        width: 25rem !important;
    }

    .disabled {
        opacity: 0.4;
    }
}