.growthSubHeader {
  height: 88px;
  box-shadow: -1px -1px 0px 0px #e2e2ea inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 52px;

  @media only screen and (max-width: 1200px) {
    padding: 8px 40px;
  }

  .addMeasurementBtn {
    width: 172px !important;
    height: 60px !important;
    display: flex;
    column-gap: 5px;
    align-items: center;

    @media only screen and (max-width: 1200px) {
      width: auto !important;
    }

    .addIconStyle {
      flex-basis: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .textStyle {
      font-size: 14px;
      line-height: 21px;
      font-weight: 500;
      flex-basis: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @media only screen and (max-width: 1200px) {
        font-size: 12px !important;
        line-height: 18px;
        font-weight: 400;
      }
    }
  }

  .detailsContainer {
    border-radius: 10px;
    border: 1px solid var(--Stroke-Grey, #eaecf0);
    padding: 8px 14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;

    .titleStyle {
      font-weight: 500;
    }
    .iconStyle {
      color: #4b4ad5;
      cursor: pointer;
      font-size: 18px;
    }

    .detailsStyle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .separator {
        height: 15px;
        border: 1px solid #eaecf0;
      }
    }
    .addDetailsContainer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 5px;
      padding-top: 5px;
      cursor: pointer;
      .addIcon {
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        color: rgba(75, 74, 213, 1);
      }
      .addDetails {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(75, 74, 213, 1) !important;
      }
    }
  }

  .rightSubHeader {
    display: flex;
    column-gap: 14px;

    .toggleContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 15px;
      padding: 19px 16px;
      height: 60px;
      cursor: pointer;

      &:hover {
        background-color: rgba(239, 239, 240, 1);
        border-color: rgba(191, 191, 191, 1);
      }

      .textStyle {
        flex-basis: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }
}
