.purple {
  background-color: rgba(75, 74, 213, 0.1);
}

.bg-custom-purple {
  background-color: rgba(75, 74, 213, 0.1);
}

.border-custom-purple {
  border-color: #4b4ad5 !important;
}

.custom-select-style {
  &.ant-select-single {
    height: 44px;
    &.ant-select-show-arrow .ant-select-selection-placeholder {
      color: #a2a2a8 !important;
      font-weight: normal;
    }
  }
  &.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    box-shadow: none !important;
    height: 42px;
  }
}

.border-purple {
  border-color: #4b4ad5 !important;
}

.custom-picker-dropdown {
  &.ant-picker-dropdown .ant-picker-date-panel {
    width: 430px;
    height: 382px;
    .ant-picker-content {
      height: 320px;
      width: 400px;
    }
  }

  .ant-picker-footer {
    display: none;
  }
}
